extends layout

block cssleaflet
  link(rel='stylesheet' href='https://unpkg.com/leaflet@1.7.1/dist/leaflet.css' integrity='sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A==' crossorigin='')
  script(src='https://unpkg.com/leaflet@1.7.1/dist/leaflet.js' integrity='sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA==' crossorigin='')
  style.
    #map{
    height: 500px;
    width: 70%;
    margin: 0 auto;
    border: 1px solid black;
    }


block content
  h1= title
  p Welcome to #{title}
  a(href='bicicletas/') Bicicletas
  br
  a(href='bicicletas/create') Añadir bicicleta
  br
  h1 Mapa
  #map

  script(src='javascripts/map.js')

